@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.slick-arrow,
.slick-prev {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem;
}

.slick-prev::before,
.slick-next::before {
  color: black;
  font-size: 2rem;
}

.slick-prev {
  z-index: 999;
}
